---
- name: Restart vm
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Wait until the VirtualMachine is started
      redhat.openshift_virtualization.kubevirt_vm:
        name: "{{ vmname }}"
        namespace: "{{ target_namespace }}"
        running: true
        wait: true
