---
- name: Restart vm
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Wait until the VirtualMachine is started
      redhat.openshift_virtualization.kubevirt_vm:
        name: "{{ item.metadata.name }}"
        namespace: "{{ item.metadata.namespace }}"
        running: true
        wait: true
