---
- name: Restart vm
  hosts: localhost
  gather_facts: false
  tasks:

    - name: Wait for VM to be running again
      redhat.openshift_virtualization.kubevirt_vm:
        name: "{{ vmname }}"
        namespace: "{{ target_namespace }}"
        running: true
        wait: true
